/* name in header, use 2nd font */

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgrey;
}

.footer, #navbar {
    background-color: #0A0708!important;
}

ul {
    margin-left: auto;
}

h1 {
    text-align: center;
    margin-top: 200px;
}

.project-img {
    min-height: 50%;
    width: 100%;
    background-color: #343A40;
    border-radius: 20px;
    margin: 20px 0;
}

#projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
}

.project-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
}

.social-icon:hover {
    cursor: pointer;
}

.fa_custom {
    color: 
    #0099CC
}

.github {
    color: black;
}

.github:hover {
    color: rgb(59, 50, 50);
}

.project-description{
    line-height: 18px;
}

main {
    z-index: 1;
}


@media only screen and (max-width: 768px) {
    ul {
        margin: auto;
    }
    #projects {
        flex-direction: column;
        height: 100vh;
        margin: 50px 0;
    }
    .project-img{
        width: 50%;
        height: 50%;
    }
    .project-container{
        border-radius: 0;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
    }
    #project-header {
        display: none;
    }
}

/* @media only screen and (min-width: 1200px) {
    .project-img {

    }
} */